<html>
    <head>
        <title>Aadhar Reader</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <link rel="stylesheet" href="static/css/styles.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="http://knockoutjs.com/downloads/knockout-3.4.1.js"></script>

        <!-- For loading bar -->
        <link rel="stylesheet" href="static/css/nprogress.css">
        <script src="static/js/nprogress.js"></script>

    </head>
    
    <body id="aadhar-app">
        <div id="loadingbar-frame"></div>


          <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <header class="demo-headers mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Aadhar Reader</span>
          <div class="mdl-layout-spacer"></div>
        </div>
      </header>
      <div class="demo-ribbon"></div>
      <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
    
            <h3>Authenticate yourself</h3>
              
                <div class="box" id="input"><!-- flex item -->
                    <form action="/" method="POST" enctype="multipart/form-data">
                        <label for="sound_input">Upload your Aadhar Card:</label>
                        <input type="file" name="aadhar_file" id="aadhar_input" accept=".jpg,.png,.tiff,.jpeg" required="required" />
                        <div class="mdl-textfield mdl-js-textfield">
                            <label for="name_input" class="mdl-textfield__label">Enter your name here:</label>                        
                            <input type="text" name="person_name" id="name_input" class="mdl-textfield__input" required/>
                        </div>
                        <input type="submit" value="Submit" 
                        id="form-submit"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" />
                    </form>
                </div>

                <div class="box" id="output"><!-- flex item -->
                    {{ message }}
                    {% if text %}
                        <p> {{ text }} </p>
                    {% endif %}
           
           <!-- For use with AJAX -->
            <div id="output-container" data-bind="visible: authorized">
                <div class="mdl-grid">
                    <div class="mdl-layout-spacer"></div>
                    <h5 class="mdl-cell--6-col">Congrats, You are successfully verified.</h5>
                    <div class="mdl-layout-spacer"></div>
                </div>

                  <div class="mdl-grid" data-bind="visible: failed">
                    <div class="mdl-layout-spacer"></div>
                    <h5 class="mdl-cell--6-col">Sorry, You are not authorized.</h5>
                    <div class="mdl-layout-spacer"></div>
                </div>
                <div class="mdl-grid">
                    
                    <div class="mdl-layout-spacer"></div>

                   <table class="mdl-cell mdl-cell-5--col mdl-data-table mdl-js-data-table mdl-shadow--2dp" >
                        <tr>
                            <td>Name: </td> <td data-bind="text: name"></td>

                        </tr>
                        <tr>
                            <td>Father's Name: </td> <td data-bind="text: fathername"> </td>
                        </tr>
                        <tr>
                            <td>Date of birth: </td> <td data-bind="text: dob"> </td>
                        </tr>
                        <tr>
                            <td>Address: </td> <td data-bind="html: address" style="line-height: 1.2em;"> </td>
                        </tr>

                    </table>

                    <div class="mdl-layout-spacer"></div>

                </div>
            </div>

                </div>

                    
                </div>

          </div>
        </div>
 
      </main>
    </div>

    <script>

            var files;
            var aadharModel = function(name ='', co = '', dob= '', authorized = false, house = '', loc = '', po = '', subdist = '', state = '', pc = '', failed = 'false') {
                var self = this;
                this.name = ko.observable(name),
                this.co = ko.observable(co),
                this.dob = ko.observable(dob),
                this.authorized = ko.observable(authorized),
                this.house = ko.observable(house),
                this.loc = ko.observable(loc),
                this.po = ko.observable(po),
                this.subdist = ko.observable(authorized),
                this.subdist = ko.observable(authorized),
                this.state = ko.observable(state),
                this.pc = ko.observable(pc),
                this.failed = ko.observable(failed),
                this.fathername = ko.computed(function() {
                    return removeSDO(self.co());
                }),
                
                this.address = ko.computed(function() {
                     return self.house() + '<br>' + self.loc() + '<br>' + self.po() + '<br>' + self.subdist() + '<br>' + self.state() + '<br>' + self.pc();
                });
            };

            var viewModel = new aadharModel();
            
            $(document).ready(function (){
                
                ko.applyBindings(viewModel);
            });

            // Add events
            $('input[type=file]').on('change', prepareUpload);

            // Grab the files and set them to our variable
            function prepareUpload(event)
            {
                files = event.target.files;
            }

            $('form').unbind('submit').bind('submit', function(e){ 
                e.preventDefault();
                NProgress.start();     
                
                viewModel.authorized(false);
                            
            var data = new FormData();
            $.each(files, function(key, value)
            {
                data.append('aadhar_file', value);
            });
            data.append('person_name', $('#name_input').val());

        
              $.post({
                    url: "authorize",
                    data: data,
                    processData: false,  // tell jQuery not to process the data
                    contentType: false,   // tell jQuery not to set contentType,
                    success: function(data) {
                        NProgress.done();
                        showAadharData(data);
                        console.log(data);

                    },
                    error: function(data) {
                        NProgress.done();
                      //  showFailure(data);
                      viewModel.failed(true);
                        console.log(data);
                        
                    }

                });          

            });

        function showAadharData(data) {
           
            // Copy data from one object to another
            for (var prop in data) {
                        if (viewModel.hasOwnProperty(prop)) {
                            viewModel[prop](data[prop]);
                            }
                        }

        }   

        
        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }

        // Remove S/O: or D/O: from parents' name
        function removeSDO(parents_name) {
            // Match S/O: or D/O:
            var re = /(S|D)\/O:\s/gi;
            if (parents_name.match(re)) {
                return parents_name.replace(re, '');
            }
            return parents_name;
        }

        // Create nice formatted address
        function createAddress(house, loc, po, subdist, state, pc) {
            return house + '<br>' + loc + '<br>' + po + '<br>' + subdist + '<br>' + state + '<br>' + pc;
        }

    </script>

    </body>

</html>